In [1]:
import pandas as pd

In [10]:
base_df = pd.read_csv('./Output/Task1-2.csv')

In [12]:
base_df.head()

,gvkey,datadate,year,tic,conm,datacqtr,startdate,apdedateq,add1,add2,add3,add4,addzip,zip,cbsa1,cbsa2,cbsa3,cbsa4
0,1004,2015-02-28,2014,AIR,AAR CORP,2015Q1,2014-12-01,2015-02-28,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
1,1004,2015-05-31,2014,AIR,AAR CORP,2015Q2,2015-03-01,2015-05-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
2,1004,2015-08-31,2015,AIR,AAR CORP,2015Q3,2015-06-01,2015-08-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
3,1004,2015-11-30,2015,AIR,AAR CORP,2015Q4,2015-09-01,2015-11-30,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
4,1004,2016-02-29,2015,AIR,AAR CORP,2016Q1,2015-12-01,2016-02-29,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN

In [ ]:
## 각 회사 (위치 : cbsa) 마다 각 row의 startdate ~ apdedateq 사이에 일어난 protest 의 수, protestor의 수

In [5]:
ccc = pd.read_csv('./Data/task3/ccc_compiled_2017-2020_bigeventscoded.csv', encoding = 'latin-1', low_memory= False, parse_dates= ['date'])

In [24]:
ccc

,date,bigevent,bydate,locality,state,location_detail,online,type,title,macroevent,...,countycountyequivalent,statename,fipsstatecode,fipscountycode,centraloutlyingcounty,_merge1,_merge2,_merge3,_merge4,zipcode
0,2017-01-01,NaN,1,Washington,DC,Lafayette Square Park,0.0,vigil,White House Peace Vigil,NaN,...,District of Columbia,District of Columbia,11.0,1.0,Central,Matched (3),NaN,NaN,NaN,NaN
1,2017-01-01,NaN,1,Mankato,MN,NaN,0.0,vigil,NaN,NaN,...,Blue Earth County,Minnesota,27.0,13.0,Central,Matched (3),NaN,NaN,NaN,NaN
2,2017-01-01,NaN,1,Minneapolis,MN,U.S. Bank Stadium,0.0,protest; banner drop,NaN,NaN,...,Hennepin County,Minnesota,27.0,53.0,Central,Matched (3),NaN,NaN,NaN,NaN
3,2017-01-01,NaN,1,Little Compton,RI,Town Green,0.0,vigil,NaN,NaN,...,Newport County,Rhode Island,44.0,5.0,Central,Matched (3),NaN,NaN,NaN,NaN
4,2017-01-01,NaN,1,Oak Ridge,TN,Y-12 National Security Complex,0.0,vigil,NaN,NaN,...,Anderson County,Tennessee,47.0,1.0,Central,Matched (3),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72069,2020-12-31,NaN,4,San Antonio,TX,The Alamo,0.0,rally,NaN,NaN,...,Bexar County,Texas,48.0,29.0,Central,NaN,NaN,NaN,Matched (3),NaN
72070,2020-12-31,NaN,4,San Antonio,TX,Piazza Italia Park,0.0,demonstration,NaN,NaN,...,Bexar County,Texas,48.0,29.0,Central,NaN,NaN,NaN,Matched (3),NaN
72071,2020-12-31,NaN,4,Norfolk,VA,Macarthur Square,0.0,demonstration,NaN,NaN,...,Norfolk city,Virginia,51.0,710.0,Central,NaN,NaN,NaN,Matched (3),NaN
72072,2020-12-31,NaN,4,Seattle,WA,Cal Anderson Park; King County Youth Services ...,0.0,demonstration,NaN,NaN,...,King County,Washington,53.0,33.0,Central,NaN,NaN,NaN,Matched (3),NaN
72073,2020-12-31,NaN,4,Seattle,WA,11th and Pine,0.0,vigil,NaN,NaN,...,King County,Washington,53.0,33.0,Central,NaN,NaN,NaN,Matched (3),NaN

In [17]:
ccc['bigevent'].isna().sum()

40034

In [22]:
ccc['bigevent'].isna().sum()

40034

In [23]:
ccc['bigevent'].value_counts()

32.0     10893
8.0       8288
1.0       1680
26.0      1392
11.0       939
17.0       892
24.0       866
34.0       858
23.0       759
27.0       486
28.0       469
35.0       377
33.0       331
14.0       317
2.0        265
18.0       261
30.0       261
21.0       260
10.0       246
16.0       244
84.0       216
22.0       193
7.0        186
12.0       164
19.0       159
29.0       126
31.0       125
4.0        115
83.0       110
271.0      105
6.0         99
9.0         91
3.0         53
5.0         47
85.0        46
82.0        34
20.0        34
15.0        33
13.0        20
Name: bigevent, dtype: int64

In [19]:
ccc['bydate'].unique()

array([1, 2, 3, 4])

In [13]:
ccc.columns

Index(['date', 'bigevent', 'bydate', 'locality', 'state', 'location_detail',
       'online', 'type', 'title', 'macroevent', 'actors', 'organizations',
       'participants', 'claims', 'valence', 'issues', 'issues_major',
       'size_text', 'size_low', 'size_high', 'size_mean', 'size_cat',
       'arrests', 'arrests_any', 'injuries_crowd', 'injuries_crowd_any',
       'injuries_police', 'injuries_police_any', 'property_damage',
       'property_damage_any', 'chemical_agents', 'participant_measures',
       'police_measures', 'participant_deaths', 'police_deaths', 'source_1',
       'source_2', 'source_3', 'source_4', 'source_5', 'source_6', 'source_7',
       'source_8', 'source_9', 'source_10', 'source_11', 'source_12',
       'source_13', 'source_14', 'source_15', 'source_16', 'source_17',
       'source_18', 'source_19', 'source_20', 'source_21', 'source_22',
       'source_23', 'source_24', 'source_25', 'source_26', 'source_27',
       'source_28', 'source_29', 'source_30', 'notes', 'lat', 'lon',
       'resolved_locality', 'resolved_county', 'resolved_state', 'fips',
       'date_start', 'date_end', 'cbsa', 'metropolitandivisioncode', 'csacode',
       'cbsatitle', 'metropolitanmicropolitanstatisti',
       'metropolitandivisiontitle', 'csatitle', 'countycountyequivalent',
       'statename', 'fipsstatecode', 'fipscountycode', 'centraloutlyingcounty',
       '_merge1', '_merge2', '_merge3', '_merge4', 'zipcode'],
      dtype='object')

In [ ]:
# Preprocessing from CCC
- size_mean : NA -> 0
- CBSA 99999 -> Drop
- multiple CBSA can be matched with a Zip code