In [1]:
import pandas as pd
# import tqdm to track a progress 
from tqdm import tqdm
# Ensure tqdm progress bar works with pandas
tqdm.pandas()
import itertools

In [73]:
base_df = pd.read_csv('./Output/Task1-2.csv', parse_dates = ['apdedateq', 'startdate'])

In [74]:
base_df.head()

,gvkey,datadate,year,tic,conm,datacqtr,startdate,apdedateq,add1,add2,add3,add4,addzip,zip,cbsa1,cbsa2,cbsa3,cbsa4
0,1004,2015-02-28,2014,AIR,AAR CORP,2015Q1,2014-12-01,2015-02-28,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
1,1004,2015-05-31,2014,AIR,AAR CORP,2015Q2,2015-03-01,2015-05-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
2,1004,2015-08-31,2015,AIR,AAR CORP,2015Q3,2015-06-01,2015-08-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
3,1004,2015-11-30,2015,AIR,AAR CORP,2015Q4,2015-09-01,2015-11-30,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
4,1004,2016-02-29,2015,AIR,AAR CORP,2016Q1,2015-12-01,2016-02-29,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN

In [ ]:
## 각 회사 (위치 : cbsa) 마다 각 row의 startdate ~ apdedateq 사이에 일어난 
# 총 protest 의 수, protestor의 수
# BigEvent 별로 aggregate (0 의 경우 don't count)
# issues 별로 aggregate

In [111]:
ccc = pd.read_csv('./Data/task3/ccc_compiled_2017-2020_bigeventscoded.csv', encoding = 'latin-1', low_memory= False, parse_dates= ['date'])

In [112]:
ccc

,date,bigevent,bydate,locality,state,location_detail,online,type,title,macroevent,...,countycountyequivalent,statename,fipsstatecode,fipscountycode,centraloutlyingcounty,_merge1,_merge2,_merge3,_merge4,zipcode
0,2017-01-01,NaN,1,Washington,DC,Lafayette Square Park,0.0,vigil,White House Peace Vigil,NaN,...,District of Columbia,District of Columbia,11.0,1.0,Central,Matched (3),NaN,NaN,NaN,NaN
1,2017-01-01,NaN,1,Mankato,MN,NaN,0.0,vigil,NaN,NaN,...,Blue Earth County,Minnesota,27.0,13.0,Central,Matched (3),NaN,NaN,NaN,NaN
2,2017-01-01,NaN,1,Minneapolis,MN,U.S. Bank Stadium,0.0,protest; banner drop,NaN,NaN,...,Hennepin County,Minnesota,27.0,53.0,Central,Matched (3),NaN,NaN,NaN,NaN
3,2017-01-01,NaN,1,Little Compton,RI,Town Green,0.0,vigil,NaN,NaN,...,Newport County,Rhode Island,44.0,5.0,Central,Matched (3),NaN,NaN,NaN,NaN
4,2017-01-01,NaN,1,Oak Ridge,TN,Y-12 National Security Complex,0.0,vigil,NaN,NaN,...,Anderson County,Tennessee,47.0,1.0,Central,Matched (3),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72069,2020-12-31,NaN,4,San Antonio,TX,The Alamo,0.0,rally,NaN,NaN,...,Bexar County,Texas,48.0,29.0,Central,NaN,NaN,NaN,Matched (3),NaN
72070,2020-12-31,NaN,4,San Antonio,TX,Piazza Italia Park,0.0,demonstration,NaN,NaN,...,Bexar County,Texas,48.0,29.0,Central,NaN,NaN,NaN,Matched (3),NaN
72071,2020-12-31,NaN,4,Norfolk,VA,Macarthur Square,0.0,demonstration,NaN,NaN,...,Norfolk city,Virginia,51.0,710.0,Central,NaN,NaN,NaN,Matched (3),NaN
72072,2020-12-31,NaN,4,Seattle,WA,Cal Anderson Park; King County Youth Services ...,0.0,demonstration,NaN,NaN,...,King County,Washington,53.0,33.0,Central,NaN,NaN,NaN,Matched (3),NaN
72073,2020-12-31,NaN,4,Seattle,WA,11th and Pine,0.0,vigil,NaN,NaN,...,King County,Washington,53.0,33.0,Central,NaN,NaN,NaN,Matched (3),NaN

In [113]:
# Preprocessing from CCC
# - size_mean : NA -> 0 으로 변경 DONE
# - CBSA 99999 -> Drop CHECKED
# - multiple CBSA can be matched with ONE Zip code
# - if bigevent : NaN -> 0 으로 변경 DONE

SyntaxError: invalid syntax (<ipython-input-113-e0394c13f274>, line 2)

In [114]:
# size mean NA 값 -> 0으로 변경
ccc['size_mean'] = ccc['size_mean'].fillna(0)

In [115]:
# bigevent na값 -> 0으로 변경
ccc['bigevent'] = ccc['bigevent'].fillna(0)

In [129]:
# Split the 'issues' column by ';' and expand into multiple columns
ccc['issues'] = ccc['issues'].str.split(';').apply(lambda x: [item.strip() for item in x] if isinstance(x, list) else x)

In [ ]:
ccc['issues'] = ccc['issues'].apply(lambda x: x if isinstance(x, list) else [])

In [130]:
ccc['issues']

0                                               [military]
1                                               [military]
2        [banking and finance, economy, energy, environ...
3                            [environment, guns, military]
4                                               [military]
                               ...
72069                              [democracy, presidency]
72070                                   [criminal justice]
72071                                   [criminal justice]
72072                          [economy, policing, racism]
72073                                   [policing, racism]
Name: issues, Length: 72074, dtype: object

In [80]:
# cbsa 99999 인 rows 없음
ccc[ccc['cbsa'] == 99999]

Empty DataFrame
Columns: [date, bigevent, bydate, locality, state, location_detail, online, type, title, macroevent, actors, organizations, participants, claims, valence, issues, issues_major, size_text, size_low, size_high, size_mean, size_cat, arrests, arrests_any, injuries_crowd, injuries_crowd_any, injuries_police, injuries_police_any, property_damage, property_damage_any, chemical_agents, participant_measures, police_measures, participant_deaths, police_deaths, source_1, source_2, source_3, source_4, source_5, source_6, source_7, source_8, source_9, source_10, source_11, source_12, source_13, source_14, source_15, source_16, source_17, source_18, source_19, source_20, source_21, source_22, source_23, source_24, source_25, source_26, source_27, source_28, source_29, source_30, notes, lat, lon, resolved_locality, resolved_county, resolved_state, fips, date_start, date_end, cbsa, metropolitandivisioncode, csacode, cbsatitle, metropolitanmicropolitanstatisti, metropolitandivisiontitle, csatitle, countycountyequivalent, statename, fipsstatecode, fipscountycode, centraloutlyingcounty, _merge1, _merge2, _merge3, _merge4, zipcode]
Index: []

[0 rows x 91 columns]

In [131]:
ccc

,date,bigevent,bydate,locality,state,location_detail,online,type,title,macroevent,...,countycountyequivalent,statename,fipsstatecode,fipscountycode,centraloutlyingcounty,_merge1,_merge2,_merge3,_merge4,zipcode
0,2017-01-01,0.0,1,Washington,DC,Lafayette Square Park,0.0,vigil,White House Peace Vigil,NaN,...,District of Columbia,District of Columbia,11.0,1.0,Central,Matched (3),NaN,NaN,NaN,NaN
1,2017-01-01,0.0,1,Mankato,MN,NaN,0.0,vigil,NaN,NaN,...,Blue Earth County,Minnesota,27.0,13.0,Central,Matched (3),NaN,NaN,NaN,NaN
2,2017-01-01,0.0,1,Minneapolis,MN,U.S. Bank Stadium,0.0,protest; banner drop,NaN,NaN,...,Hennepin County,Minnesota,27.0,53.0,Central,Matched (3),NaN,NaN,NaN,NaN
3,2017-01-01,0.0,1,Little Compton,RI,Town Green,0.0,vigil,NaN,NaN,...,Newport County,Rhode Island,44.0,5.0,Central,Matched (3),NaN,NaN,NaN,NaN
4,2017-01-01,0.0,1,Oak Ridge,TN,Y-12 National Security Complex,0.0,vigil,NaN,NaN,...,Anderson County,Tennessee,47.0,1.0,Central,Matched (3),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72069,2020-12-31,0.0,4,San Antonio,TX,The Alamo,0.0,rally,NaN,NaN,...,Bexar County,Texas,48.0,29.0,Central,NaN,NaN,NaN,Matched (3),NaN
72070,2020-12-31,0.0,4,San Antonio,TX,Piazza Italia Park,0.0,demonstration,NaN,NaN,...,Bexar County,Texas,48.0,29.0,Central,NaN,NaN,NaN,Matched (3),NaN
72071,2020-12-31,0.0,4,Norfolk,VA,Macarthur Square,0.0,demonstration,NaN,NaN,...,Norfolk city,Virginia,51.0,710.0,Central,NaN,NaN,NaN,Matched (3),NaN
72072,2020-12-31,0.0,4,Seattle,WA,Cal Anderson Park; King County Youth Services ...,0.0,demonstration,NaN,NaN,...,King County,Washington,53.0,33.0,Central,NaN,NaN,NaN,Matched (3),NaN
72073,2020-12-31,0.0,4,Seattle,WA,11th and Pine,0.0,vigil,NaN,NaN,...,King County,Washington,53.0,33.0,Central,NaN,NaN,NaN,Matched (3),NaN

In [82]:
base_df.iloc[10]

gvkey                                            1004
datadate                                   2017-08-31
year                                             2017
tic                                               AIR
conm                                         AAR CORP
datacqtr                                       2017Q3
startdate                         2017-06-01 00:00:00
apdedateq                         2017-08-31 00:00:00
add1         One AAR Place, 1100 North Wood Dale Road
add2                                              NaN
add3                                              NaN
add4                                              NaN
addzip                                          60191
zip                                           60191.0
cbsa1                                         16980.0
cbsa2                                             NaN
cbsa3                                             NaN
cbsa4                                             NaN
Name: 10, dtype: object

In [83]:
ccc.columns

Index(['date', 'bigevent', 'bydate', 'locality', 'state', 'location_detail',
       'online', 'type', 'title', 'macroevent', 'actors', 'organizations',
       'participants', 'claims', 'valence', 'issues', 'issues_major',
       'size_text', 'size_low', 'size_high', 'size_mean', 'size_cat',
       'arrests', 'arrests_any', 'injuries_crowd', 'injuries_crowd_any',
       'injuries_police', 'injuries_police_any', 'property_damage',
       'property_damage_any', 'chemical_agents', 'participant_measures',
       'police_measures', 'participant_deaths', 'police_deaths', 'source_1',
       'source_2', 'source_3', 'source_4', 'source_5', 'source_6', 'source_7',
       'source_8', 'source_9', 'source_10', 'source_11', 'source_12',
       'source_13', 'source_14', 'source_15', 'source_16', 'source_17',
       'source_18', 'source_19', 'source_20', 'source_21', 'source_22',
       'source_23', 'source_24', 'source_25', 'source_26', 'source_27',
       'source_28', 'source_29', 'source_30', 'notes', 'lat', 'lon',
       'resolved_locality', 'resolved_county', 'resolved_state', 'fips',
       'date_start', 'date_end', 'cbsa', 'metropolitandivisioncode', 'csacode',
       'cbsatitle', 'metropolitanmicropolitanstatisti',
       'metropolitandivisiontitle', 'csatitle', 'countycountyequivalent',
       'statename', 'fipsstatecode', 'fipscountycode', 'centraloutlyingcounty',
       '_merge1', '_merge2', '_merge3', '_merge4', 'zipcode'],
      dtype='object')

In [84]:
base_df['startdate']

0       2014-12-01
1       2015-03-01
2       2015-06-01
3       2015-09-01
4       2015-12-01
           ...
35227   2020-10-01
35228   2021-01-01
35229   2021-04-01
35230   2021-07-01
35231   2021-10-01
Name: startdate, Length: 35232, dtype: datetime64[ns]

In [85]:
base_df['apdedateq']

0       2015-02-28
1       2015-05-31
2       2015-08-31
3       2015-11-30
4       2016-02-29
           ...
35227   2020-12-31
35228   2021-03-31
35229   2021-06-30
35230   2021-09-30
35231   2021-12-31
Name: apdedateq, Length: 35232, dtype: datetime64[ns]

In [86]:
base_df

,gvkey,datadate,year,tic,conm,datacqtr,startdate,apdedateq,add1,add2,add3,add4,addzip,zip,cbsa1,cbsa2,cbsa3,cbsa4
0,1004,2015-02-28,2014,AIR,AAR CORP,2015Q1,2014-12-01,2015-02-28,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
1,1004,2015-05-31,2014,AIR,AAR CORP,2015Q2,2015-03-01,2015-05-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
2,1004,2015-08-31,2015,AIR,AAR CORP,2015Q3,2015-06-01,2015-08-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
3,1004,2015-11-30,2015,AIR,AAR CORP,2015Q4,2015-09-01,2015-11-30,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
4,1004,2016-02-29,2015,AIR,AAR CORP,2016Q1,2015-12-01,2016-02-29,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35227,328795,2020-12-31,2020,ACA,ARCOSA INC,2020Q4,2020-10-01,2020-12-31,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,19100.0,NaN,NaN,NaN
35228,328795,2021-03-31,2021,ACA,ARCOSA INC,2021Q1,2021-01-01,2021-03-31,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN
35229,328795,2021-06-30,2021,ACA,ARCOSA INC,2021Q2,2021-04-01,2021-06-30,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN
35230,328795,2021-09-30,2021,ACA,ARCOSA INC,2021Q3,2021-07-01,2021-09-30,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN
35231,328795,2021-12-31,2021,ACA,ARCOSA INC,2021Q4,2021-10-01,2021-12-31,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN

In [133]:
base_df.columns

Index(['gvkey', 'datadate', 'year', 'tic', 'conm', 'datacqtr', 'startdate',
       'apdedateq', 'add1', 'add2', 'add3', 'add4', 'addzip', 'zip', 'cbsa1',
       'cbsa2', 'cbsa3', 'cbsa4'],
      dtype='object')

In [134]:
ccc.columns

Index(['date', 'bigevent', 'bydate', 'locality', 'state', 'location_detail',
       'online', 'type', 'title', 'macroevent', 'actors', 'organizations',
       'participants', 'claims', 'valence', 'issues', 'issues_major',
       'size_text', 'size_low', 'size_high', 'size_mean', 'size_cat',
       'arrests', 'arrests_any', 'injuries_crowd', 'injuries_crowd_any',
       'injuries_police', 'injuries_police_any', 'property_damage',
       'property_damage_any', 'chemical_agents', 'participant_measures',
       'police_measures', 'participant_deaths', 'police_deaths', 'source_1',
       'source_2', 'source_3', 'source_4', 'source_5', 'source_6', 'source_7',
       'source_8', 'source_9', 'source_10', 'source_11', 'source_12',
       'source_13', 'source_14', 'source_15', 'source_16', 'source_17',
       'source_18', 'source_19', 'source_20', 'source_21', 'source_22',
       'source_23', 'source_24', 'source_25', 'source_26', 'source_27',
       'source_28', 'source_29', 'source_30', 'notes', 'lat', 'lon',
       'resolved_locality', 'resolved_county', 'resolved_state', 'fips',
       'date_start', 'date_end', 'cbsa', 'metropolitandivisioncode', 'csacode',
       'cbsatitle', 'metropolitanmicropolitanstatisti',
       'metropolitandivisiontitle', 'csatitle', 'countycountyequivalent',
       'statename', 'fipsstatecode', 'fipscountycode', 'centraloutlyingcounty',
       '_merge1', '_merge2', '_merge3', '_merge4', 'zipcode'],
      dtype='object')

In [401]:
# Create a function to count cases in ccc that match the conditions in base_df
def count_cases(row, ccc_df):
    
    

    aggregation_dict = dict()

    start_date = row['startdate']
    end_date = row['apdedateq']
    
    # Get the list of cbsa codes from the row, filtering out None or NaN values
    cbsa_codes = [row[f'cbsa{i}'] for i in range(1, 5) if pd.notna(row[f'cbsa{i}'])]
    for index, cbsa_code in enumerate(cbsa_codes,1) :

        # Filter the ccc DataFrame for rows that match the date range and cbsa codes
        filtered_cases = ccc_df[(ccc_df['date'] >= start_date) & 
                                (ccc_df['date'] <= end_date) & 
                                (ccc_df['cbsa'] == cbsa_code)]
        racism_prt = 0
        racism_par = 0
        env_prt = 0
        env_par = 0
        gun_prt = 0
        gun_par = 0
        gen_prt = 0
        gen_par = 0

        aggregation_dict[f'cbsa{index}_all_prt'] = len(filtered_cases)
        aggregation_dict[f'cbsa{index}_all_part'] = filtered_cases['size_mean'].sum()
        
        # Aggregate Bigevent
        bigevents_cases = filtered_cases.groupby('bigevent').size().reset_index(name='cases')
        bigevent_ppl = filtered_cases.groupby('bigevent')['size_mean'].sum().reset_index(name = 'people')
        bigevents = bigevents_cases.merge(bigevent_ppl)[1:]
        for eventid, values in bigevents.iterrows():
            aggregation_dict[f'cbsa{index}_big{eventid}_prt'] = values['cases']
            aggregation_dict[f'cbsa{index}_big{eventid}_part'] = values['people']

        # Aggregate SmallEvents
        for idx, values in filtered_cases.iterrows():
            issues = values['issues']
            if 'racism' in issues:
                racism_prt += 1
                racism_par += values['size_mean']
            elif 'environment' in issues:
                env_prt += 1
                env_par += values['size_mean']
            elif 'guns' in issues:
                gun_prt += 1
                gun_par += values['size_mean']
            elif "women's rights" in issues:
                gen_prt += 1
                gen_par += values['size_mean']
            elif 'reproductive rights' in issues :
                gen_prt += 1
                gen_par += values['size_mean']
            elif 'sexual violence' in issues:
                gen_prt += 1
                gen_par += values['size_mean']
        
        if racism_prt > 0 :
            aggregation_dict[f'cbsa{index}_racism_prt'] = racism_prt
            aggregation_dict[f'cbsa{index}_racism_par'] = racism_par

        if env_prt > 0 :
            aggregation_dict[f'cbsa{index}_env_prt'] = env_prt
            aggregation_dict[f'cbsa{index}_env_par'] = env_par

        if gun_prt > 0 :
            aggregation_dict[f'cbsa{index}_gun_prt'] = gun_prt
            aggregation_dict[f'cbsa{index}_gun_par'] = gun_par

        if gen_prt > 0 :
            aggregation_dict[f'cbsa{index}_gen_prt'] = gen_prt
            aggregation_dict[f'cbsa{index}_gen_par'] = gen_par
            

    return aggregation_dict

In [402]:
# Apply the function to each row in base_df and create a new column for the count of cases
base_df['case_count'] = base_df.progress_apply(count_cases, axis=1, ccc_df=ccc)

100%|██████████| 35232/35232 [01:59<00:00, 294.03it/s]

In [403]:
# CHECK
base_df[base_df['cbsa4'].notna()][['case_count']].iloc[4].values[0]

{'cbsa1_all_prt': 0,
 'cbsa1_all_part': 0.0,
 'cbsa2_all_prt': 45,
 'cbsa2_all_part': 4111.0,
 'cbsa2_big1_prt': 34.0,
 'cbsa2_big1_part': 468.0,
 'cbsa2_big2_prt': 6.0,
 'cbsa2_big2_part': 3200.0,
 'cbsa2_gun_prt': 34,
 'cbsa2_gun_par': 468.0,
 'cbsa3_all_prt': 1,
 'cbsa3_all_part': 120.0,
 'cbsa4_all_prt': 17,
 'cbsa4_all_part': 5014.0,
 'cbsa4_big1_prt': 1.0,
 'cbsa4_big1_part': 0.0,
 'cbsa4_big2_prt': 2.0,
 'cbsa4_big2_part': 140.0,
 'cbsa4_big3_prt': 2.0,
 'cbsa4_big3_part': 13.0,
 'cbsa4_racism_prt': 2,
 'cbsa4_racism_par': 140.0,
 'cbsa4_gun_prt': 3,
 'cbsa4_gun_par': 450.0}

In [404]:
# CHECK
base_df[base_df['cbsa4'].notna()][['case_count']].iloc[12].values[0]

{'cbsa1_all_prt': 1,
 'cbsa1_all_part': 250.0,
 'cbsa1_racism_prt': 1,
 'cbsa1_racism_par': 250.0,
 'cbsa2_all_prt': 47,
 'cbsa2_all_part': 5075.0,
 'cbsa2_big1_prt': 27.0,
 'cbsa2_big1_part': 4627.0,
 'cbsa2_big2_prt': 1.0,
 'cbsa2_big2_part': 1.0,
 'cbsa2_racism_prt': 33,
 'cbsa2_racism_par': 4815.0,
 'cbsa2_gen_prt': 4,
 'cbsa2_gen_par': 0.0,
 'cbsa3_all_prt': 1,
 'cbsa3_all_part': 30.0,
 'cbsa3_racism_prt': 1,
 'cbsa3_racism_par': 30.0,
 'cbsa4_all_prt': 10,
 'cbsa4_all_part': 925.0,
 'cbsa4_big1_prt': 5.0,
 'cbsa4_big1_part': 495.0,
 'cbsa4_racism_prt': 6,
 'cbsa4_racism_par': 575.0}

In [ ]:
## Code Optimization 
## + dictionaries in case count -> stacking on the side

In [405]:
base_df

,gvkey,datadate,year,tic,conm,datacqtr,startdate,apdedateq,add1,add2,add3,add4,addzip,zip,cbsa1,cbsa2,cbsa3,cbsa4,case_count
0,1004,2015-02-28,2014,AIR,AAR CORP,2015Q1,2014-12-01,2015-02-28,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN,{}
1,1004,2015-05-31,2014,AIR,AAR CORP,2015Q2,2015-03-01,2015-05-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN,{}
2,1004,2015-08-31,2015,AIR,AAR CORP,2015Q3,2015-06-01,2015-08-31,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN,{}
3,1004,2015-11-30,2015,AIR,AAR CORP,2015Q4,2015-09-01,2015-11-30,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN,{}
4,1004,2016-02-29,2015,AIR,AAR CORP,2016Q1,2015-12-01,2016-02-29,"One AAR Place, 1100 North Wood Dale Road",NaN,NaN,NaN,60191,60191.0,NaN,NaN,NaN,NaN,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35227,328795,2020-12-31,2020,ACA,ARCOSA INC,2020Q4,2020-10-01,2020-12-31,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,19100.0,NaN,NaN,NaN,"{'cbsa1_all_prt': 31, 'cbsa1_all_part': 1092.0..."
35228,328795,2021-03-31,2021,ACA,ARCOSA INC,2021Q1,2021-01-01,2021-03-31,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN,{}
35229,328795,2021-06-30,2021,ACA,ARCOSA INC,2021Q2,2021-04-01,2021-06-30,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN,{}
35230,328795,2021-09-30,2021,ACA,ARCOSA INC,2021Q3,2021-07-01,2021-09-30,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN,{}
35231,328795,2021-12-31,2021,ACA,ARCOSA INC,2021Q4,2021-10-01,2021-12-31,"500 North Akard Street, Suite 400",NaN,NaN,NaN,75201,75201.0,NaN,NaN,NaN,NaN,{}